body {
  background-color: black;
  margin: 0;
}

h1 {
  background-color: black;
  border-bottom: solid yellow 2px;
  color: yellow;
  font-family: arial;
  font-size: 38px;
  margin: 0;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
}

.table-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}
